{% extends '::base.html.twig' %}

{% block body %}

    {% include '::top.html.twig' %}
    {% include '::slider.html.twig' %}

    <div class="page-background">
        <div class="container page-content">
            {% block contenido %}
            {% endblock %}
        </div>
    </div>

{% endblock %}