<div class="slider-background margin-nav">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <div class="container">

            <!-- Wrapper for slides -->
            <div class="carousel-inner">

                {% for image in sliderImages() %}
                    <div class="item text-center{% if loop.first %} active{% endif %}">
                        {% if image.link is not null %}
                        <a href="{{image.link}}">
                            <img src="{{asset(image.getWebPath)}}" alt="" style="display:inline;" />
                        </a>
                        {% else %}
                            <img src="{{asset(image.getWebPath)}}" alt="" style="display:inline;" />
                        {% endif %}
                    </div>
                {% endfor %}

            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>

        </div>
        <div class="slider-footer">
            <div class="container">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    {% for image in sliderImages() %}
                        <li data-target="#carousel-example-generic" data-slide-to="{{ loop.index0 }}"{% if loop.first %} class="active"{% endif %}></li>
                    {% endfor %}
                </ol>
            </div>
        </div>
    </div>
</div>