{% extends '::principal.html.twig' %}

{% block contenido %}

			<h4>Administración del Catálogo</h4>

            {% if resultados %}
                <table class="table table-striped table-hover table-responsive" style="height:0!important">
                    <thead>
                        <tr>
                            <th>Novia</th>
                            <th>Novio</th>
                            <th>Fecha de la boda</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for pareja in resultados %}
                            <tr class='clickableRow' href='{{url('nw_principal_mesa_regalos', {'usuarioId': pareja.usuarioId})}}' style="cursor:pointer; cursor: hand">
                                <td>{{pareja.noviaNombre}}</td>
                                <td>{{pareja.novioNombre}}</td>
                                <td>{{pareja.fechaBoda}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <br /><strong>No se encontraron resultados</strong>
            {% endif %}

{% endblock %}