{% extends '::principal.html.twig' %}

{% block contenido %}
	
	<div class="col-sm-12">
		<div class="row">
			<h1>Conócenos</h1>
			<p>Somos una empresa con 20 años de experiencia en la fabricación y distribución de agendas, carpetas y diferentes artículos de oficina.</p>
			<p>Nuestro compromiso es cumplir con las necesidades de nuestros clientes dándoles el mejor servicio y calidad al más bajo precio.</p>
			<p>La mercancía que fabricamos la distribuimos en gran parte de la república mexicana y algunos estados de la unión americana.</p>
			<p>Contamos con la mano de obra especializada y la maquinaria necesaria para llevar a cabo la fabricación de nuestros artículos, desde la impresión y encuadernación del papel, hasta la manufactura de nuestras fundas, carpetas, así como el sellado de los diferentes productos de vinil.</p>
		</div>
		<div class="row">
			<h1>Visión</h1>
			<p>Ser una empresa plenamente humana para lograr que todos los asociados podamos realizarnos, personal y profesionalmente. Mantenernos siempre en crecimiento y lograr ser una empresa líder en México. Ser los mejores en calidad, servicio, atención, eficiencia y comunicación.</p>
		</div>
		<div class="row">
			<h1>Misión</h1>
			<p>Fabricar y comercializar agendas, carpetas y similares de la más alta calidad, con los precios más bajos de los existentes en el mercado.</p>
		</div>
	</div>

{% endblock %}