{% extends 'AGPrincipalBundle:Default:panel.html.twig' %}

{% block stylesheets %}
	{{parent()}}
	<style type="text/css">
		#nuevoproducto_Agregar{
			right: 0;
			position: absolute;
		}
	</style>
{% endblock %}

{% block contenido %}
    <h4>Agregar un nuevo producto al sitio</h4>
    {{ form_start(formProducto) }}
	{{ form_end(formProducto) }}
{% endblock %}