{% extends 'AGPrincipalBundle:Default:panel.html.twig' %}

{% block contenido %}
	<p>Éste es el panel de control, donde podrás acceder a funciones específicas según tu rol de usuario. Todo desde el menú de la izquierda.</p>
	<p>Así mismo, ahora puedes ver los precios de los productos en sus páginas.</p>
{% endblock %}